@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: white;
}

.hero1 {
  background-color: #000000ba;
  position: relative;
}

.hero1::before {
  content: "";
  background-image: url("../public/images/my1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
